<div class="products-page">
  <app-subCategories [subcategory]="subCategory()"> </app-subCategories>
  <div class="grid">
    @if (!isCategoryPage) {
    <div class="col-3">
      <button
        type="button"
        class="btn dropdown-toggle form-control"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Categories
      </button>

      <div class="form-control">
        @for (item of category; track item._id) {
        <div>
          <p-checkbox
            [checkboxIcon]="item._id"
            [(ngModel)]="item.checked"
            [label]="item.name"
            [inputId]="item._id"
            [value]="item"
            binary="true"
          />
        </div>
        }
      </div>
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
        >
          اختر التصنيفات
        </button>
        <ul class="dropdown-menu">
          @for (item of category; track item._id) {
          <li>
            <a class="dropdown-item" (click)="categoryFilter(item._id)">{{
              item.name
            }}</a>
          </li>
          }
        </ul>
      </div>
    </div>
    }

    <div [ngClass]="{ 'col-9': !isCategoryPage, 'col-12': isCategoryPage }">
      <div class="grid">
        @for (item of products(); track item._id) {
        <div class="col">
          <app-products-item style="margin-inline-end: auto" [product]="item" />
        </div>
        }
      </div>

      <!-- ✅ زر تحميل المزيد بدلاً من السابق والتالي -->
      <div class="pagination grid">
        <button (click)="loadMore()" *ngIf="paginationResult()?.next">
          تحميل المزيد
        </button>
      </div>
    </div>
  </div>
</div>
