<!-- <div *ngFor="let item of category" class="field-checkbox">
  <p-checkbox
    [(ngModel)]="item.checked"
    [label]="item.name"
    [inputId]="item._id"
    [value]="item"
    binary="true"
    (onChange)="categoryFilter()"
  />
</div>

<p-listbox
  [options]="category"
  [group]="true"
  [(ngModel)]="category"
  [listStyle]="{ 'max-height': '250px' }"
  [style]="{ width: '15rem' }"
>
  <ng-template let-category pTemplate="group">
    <div class="flex align-items-center">
      <img
        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
        [class]="'mr-2 flag flag-' + category.image"
        style="width: 20px"
      />
      <span>{{ category.name }}</span>
    </div>
  </ng-template>
</p-listbox> -->
