<p-toast position="top-center" />
<div class="admin-page">
  <p-card
    [header]="editMode() ? 'Edit User' : 'Create User'"
    subheader="You can add or edit product here "
  >
    <div class="p-grid mb-4">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-right"></div>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editMode() ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (onClick)="onSubmit()"
            ></p-button>

            <p-button
              styleClass="p-button-secondary mr-2"
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              routerLink="/admin/users"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div>
      <form
        class="row justify-content-center align-items-center g-2"
        isSubmatted
        [formGroup]="form"
      >
        <div class="col-4">
          <label for="title" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            name="name"
            formControlName="name"
            required
          />
          <p class="p-error" *ngIf="isSubmatted && Control.name.invalid">
            Name is required
          </p>
        </div>

        <div class="col-4">
          <label for="phone" class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            placeholder="Phone"
            name="phone"
            formControlName="phone"
            required
          />
        </div>

        <div class="col-4">
          <label for="role" class="form-label">Role</label>
          <select class="form-control" formControlName="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
            <option value="manger">Manger</option>
          </select>
        </div>

        <div class="col-4">
          <label for="active" class="form-label">Active</label><br />
          <p-inputSwitch formControlName="active" [falseValue]="Control.active"  />

        </div>
 <!--
        <div class="col-4">
          <label for="quantity" class="form-label">Quantity</label><br />
          <input
            type="number"
            class="form-control"
            placeholder="Quantity"
            name="quantity"
            formControlName="quantity"
            required
          />

          <small class="p-error" *ngIf="isSubmatted && Control.quantity.invalid"
            >Quantity is required</small
          >
        </div>

        <div class="col-4">
          <label for="formFile" class="form-label">Image cover</label>
          <input
            class="form-control"
            type="file"
            name="imageCover"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
          <p class="p-error" *ngIf="isSubmatted && Control.imageCover.invalid">
            Image cover is required
          </p>
        </div>

        <div class="col-12">
          <label for="description" class="form-label"> Description </label>
          <textarea
            formControlName="description"
            class="form-control"
            id="description"
            rows="3"
          ></textarea>
          <small
            class="p-error"
            *ngIf="isSubmatted && Control.description.invalid"
            >Description is required</small
          >
        </div> -->
      </form>
    </div>
  </p-card>
</div>
