<p-toast position="top-center" />
<div class="admin-page">
  <p-card
    [header]="editMode() ? 'Edit SubCategory' : 'Create SubCategory'"
    subheader="You can add or edit SubCategories here "
  >
    <div class="p-grid mb-4">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-right"></div>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editMode() ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (onClick)="onSubmit()"
            ></p-button>

            <p-button
              styleClass="p-button-secondary mr-2"
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              routerLink="/admin/categories"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <form
          class="example-form needs-validation"
          isSubmatted
          [formGroup]="form"
        >
          <div class="row">
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                name="name"
                formControlName="name"
                required
              />
              <p
                class="p-error"
                *ngIf="isSubmatted && subCategoryControl.name.invalid"
              >
                Name is required
              </p>
            </div>
            <div class="col-4">
              <select
                class="form-control"
                name="category"
                formControlName="category"
              >
                <option value="">Select a Category</option>

                @for (item of category(); track item._id) {
                <option [value]="item._id">
                  {{ item.name }}
                </option>
                }
              </select>
              <small
                class="p-error"
                *ngIf="isSubmatted && subCategoryControl.category.invalid"
                >Category is required</small
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
