<div class="navbar-collapse">
  <div class="card">
    <p-toolbar
      styleClass="bg-gray-900 shadow-2"
      [style]="{
        'background-image':
          'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))'
      }"
    >
      <ng-template pTemplate="start">
        <a routerLink="/">
          <img src="assets/logo.png" />
        </a>
      </ng-template>

      <ng-template pTemplate="center">
        <app-search></app-search>
      </ng-template>
      <ng-template pTemplate="end">
        <!-- @if (isUserLoggedIn()) { -->
        <div class="flex align-items-center gap-3 font-bold text-bluegray-50">
          <i class="pi pi-user" style="font-size: 2rem"></i>
          <app-user-icon style="cursor: pointer"></app-user-icon>

          <app-cart-icon style="cursor: pointer" />
        </div>
          <!-- }  -->

        </ng-template>
    </p-toolbar>
  </div>
</div>
